* {
    padding: 0;
    margin: 0;
}

.main {
    margin: 50px auto;
    padding: 20px;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.row p {
    padding-bottom: 6px;
}